@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate --default;
}

@plugin "daisyui/theme" {
  name: "corporate";
  --depth: 1;
  --noise: 1;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  appearance: textfield;
}
.input:focus-within, .select:focus-within{
  outline: none;
}
